
/*
colours

increment.. 
  dark/medium blue 
    rgb(74, 90, 211);
  teal
    rgb(77, 186, 197);
  orange
    rgb(239, 118, 110);
  dark grey background
    rgb(38, 38, 38);
  even darker grey background
    rgb(30, 30, 30);
  light grey background
    #f2f2f2;
  text dark grey
    rgb(89, 89, 89);


made by eno
  background white
    #f2f2f2;
  background light pink
    #fff4ed;
  
*/

/* --------------------------------------------------------*/
/* BASIC SETUP */
/* --------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    background: #f2f2f2;
    color: rgb(89, 89, 89);
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html {
  font-size: 16px;
    
  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}


/* 
TO DO
  media queries!!!
  DO FIRST, BEFORE YOU ADJUST ANY MORE PADDING!!

  also get advice on layout!! am i using too much Padding??
*/

/* --------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* --------------------------------------------------------*/


/*--------------HEADINGS------------------*/



h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 3rem;
  font-weight: 700;
  word-spacing: .2em;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  word-spacing: .2rem;
  padding: 4rem 0;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  word-spacing: .2rem;
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  word-spacing: .2rem;
  font-weight: 300;
}



/*--------------PARAGRAPHS------------------*/

/* 
TO DO
  padding and line height and width
*/

/*--------------ICONS--------------------*/



/*--------------LINKS--------------------*/
/* 
TO DO
  Change links to opacity transform
*/

.nav-container > li > a:link,
.nav-container > li > a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.nav-container > li > a:hover,
.nav-container > li > a:active {
    color: black;
    border-bottom: 1px solid rgb(74, 90, 211);
    -webkit-transition: border-bottom 0.3s color 0.3s;
    transition: border-bottom 0.3s color 0.3s;
}


.head-container a:link,
.head-container a:visited {
    color:  #555;
    text-decoration: none;
}

.head-container a:hover,
.head-container a:active {
    color: rgba(85, 85, 85, 0.8);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}


.footer-social > li > a:link,
.footer-social > li > a:visited {
    color: #fff;
    text-decoration: none;
}

.footer-social > li > a:hover,
.footer-social > li > a:active {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}



/*--------------BUTTONS--------------------*/



/* --------------------------------------------------------*/
/* NAV */
/* --------------------------------------------------------*/

/* 
TO DO
  padding bottom
  align underline
  remove underline from HAND
*/

.nav-container {
  padding-left: 3rem;
  background: white;
  list-style: none;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3rem;
}

.nav-container li:first-child {
  flex: 1;
  font-size: 5em;
  padding-top: .5rem;
}

.nav-container a > span {
  padding: .5rem;
  font-size: 1.2em;
}

.nav-container li:last-child {
  padding-right: 2rem;
}


#hand-icon {
  color: rgb(74, 90, 211);

}



/* --------------------------------------------------------*/
/* HEADER */
/* --------------------------------------------------------*/

/* 
TO DO
  Change picture maybe?
  should it be fixed

  does the card need work??
  a border maybe?
  full width??

  maybe make the white border bigger


*/

.head { 
  height: 60vh;
  background: url(./simone-hutsch-1675465-unsplash.jpg) no-repeat center center fixed; 
  /* background: url(./moody-bones.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* border-left: 2rem solid white;
  border-right: 2rem solid white; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head-wrapper {

}

.head-container {
  background: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}


.grid-name {
  grid-column: 2 / -1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-bio {
  grid-column: 2 / -1;
  grid-row: 2 / span 1;
  border-top: 1px solid rgba(85, 85, 85, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  border-right: 1px solid rgba(85, 85, 85, 0.8);
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 1.5rem;
  padding-left: .5rem;

}

.social-container li {
  padding: .2rem;
  font-size: 1.5em;
}


/* --------------------------------------------------------*/
/* WORK */
/* --------------------------------------------------------*/

.work-container {
  background: #fff4ed;
  padding: 0 5rem;
  padding-bottom: 5rem; 
  /* padding-top: 6rem;  */
}

.work-head {
  border-top: .3rem solid rgb(74, 90, 211);
  /* border-bottom: .1rem solid rgb(74, 90, 211); */
  padding: 3rem 0;
}

.work-head > h3 {
  color: black;
}

.work-wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  /* margin: 4rem 0; */
}

.work-wrapper > li {
  background: white;
  padding: 1rem;
}

/* remove later */
.img-box {
  border: 1px double rgb(74, 90, 211);
  width: 200px;
  height: 200px;
}


/* --------------------------------------------------------*/
/* APPROACH */
/* --------------------------------------------------------*/

.approach-container {
  padding: 0 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

.approach-head {
  /* border-top: .5rem solid #f2f2f2; */
  /* border-bottom: .1rem solid rgb(74, 90, 211); */
  padding: 3rem 0;
}

.approach-head > h3 {
  color: black;
}

.approach-image {
  border: 2px dashed #fff4ed;
  width: 400px;
  height: 400px;
}

/* --------------------------------------------------------*/
/* SKILLS */
/* --------------------------------------------------------*/

/* To Do...
Media queries for H3 font size
& look at the way the skills wrap
*/

.skills-wrapper {
  background-color: #fff4ed;
  padding: 0 2rem; 
  list-style: none;
  /* align-items: center; */
  border-top: .05rem dashed rgb(89, 89, 89);
  border-bottom: .05rem dashed rgb(89, 89, 89);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 1fr;
  color: black;
}

.skills-wrapper > li {
  margin: 1rem;
  text-align: center;
}

.skills-wrapper li:first-child {
  grid-column: 1 / span 2;

}

.skills-wrapper > li > ion-icon {
  padding-bottom: .5rem;
  font-size: 2rem;
}



/* --------------------------------------------------------*/
/* CONTACT */
/* --------------------------------------------------------*/

/* 
TO DO
  EVERYTHING,
  decide on a layout
  do we like the card??
  i think we should remove the box shadow and stick ato a flat design
  maybe break it up with a line, like jonas' cards
  it needs to change from horizontal to vertical at some point
  image should change like barrack in this video
  https://www.youtube.com/watch?v=zdkY7ymM0Qw
*/

.contact-container {
  margin: 5rem 5rem; 
  padding: 5rem 3rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rbga(255, 163, 148, 0.1) 0px 5px 10px; /* chrome says invalid. why? */
  border-radius: 4px;
  /* box-shadow: 0px 0px 12px -2px lightgray; */
}


.contact-quote {
  font-size: 2rem;
}


#img-moody {
  border: 1rem solid #000;
}





/* --------------------------------------------------------*/
/* FOOTER */
/* --------------------------------------------------------*/

/* 
TO DO
  links and text?
  icon in line with text
*/

.footer-container {
  padding: 2rem 5rem;
  background: rgb(74, 90, 211);
  /* border-top: 5rem dotted white; */
  color: #f2f2f2;
}

.footer-social {
  padding: 5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-social > li {
  margin: 1.5rem;
  text-align: center;
}


.footer-social ion-icon {
  font-size: 1.8rem;
  padding-bottom: 1.2rem;
}
